:root {
  --mainColor: black;
}

html {
    scroll-behavior: smooth;
}

#content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 60vw;
    font-family: 'Questrial', sans-serif;
}

#navbar {
    font-family: 'Questrial', sans-serif;
}

#greeting-container {
  margin-top: 20px;
}

#carousel-container {
    max-width: 70%;
    max-height: 60vh;
}

#background {
    background-color: #AEECEF;
}

.fab {
    color: black;
}

.next-section {
    color: black;
    text-align: right;
}

.next-section:hover {
    color: #555;
}

.fa-github:hover {
    color: #6e5494;
}

.fa-linkedin:hover {
    color: #2867B2;
}

.title {
    font-weight: bold;
    font-size: 4em;
}

.presentation {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-photo {
    float: left;
    margin-right: 50px;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pic-caption {
    color: white;
    font-weight: bold;
}

a.highlight {
  background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
  color: #000;
  text-decoration: none;
  transition: background-size .2s;
}

a.highlight:hover {
  background-size: 4px 100px;
  color: #AEECEF;
  text-decoration: none;
}

p {
    font-size: 2em;
}

img {
    max-width: 100%;
    max-height: 100%;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.typewriter-container {
    display: flex;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 2.5s steps(40, end),
    blink-caret 1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}