/* Adjust spacing in navbar depending on whether the navbar is mobile or desktop*/
@media (min-width: 992px){
    .navbar li {
        margin-left : 0.5em;
    }
}

@media (max-width: 991px) {
	.navbar li {
        margin-bottom : 0.5em;
	}
}

/* Make scroll smooth for anchors */
html {
    scroll-behavior: smooth;
}

/* Highlight CSS */
:root {
  --mainColor: black;
}
a.highlight {
  background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
  color: #000;
  text-decoration: none;
  transition: background-size .2s;
}
a.highlight:hover {
  background-size: 4px 100px;
  color: #fffef2;
  text-decoration: none;
}

p {
    font-size: 1.5em;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* Blockquote CSS for the quotes section */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}


#content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 800px;
    font-color: black;
    font-family: 'Questrial', sans-serif;
    padding-top: 65px;
}

#navbar {
    font-family: 'Questrial', sans-serif;
}

#greeting-container {
  margin-top: 20px;
}

#carousel-container {
    max-width: 70%;
    max-height: 60vh;
}

#background {
    background-color: #fffef2;
}

#welcome {
    background: linear-gradient(to bottom right, #0066ff 0%, #ff99cc 99%);
    font-color: white;
    font-family: 'Montaga', serif;
    position: relative;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#welcome-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 800px;
}

/* Set up iframe to autofill width and preserve height */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.card-text {
    font-size: 1em;
}

.card-title {
    font-weight: bold;
}

/* Change color of font awesome brands */
.fab {
    color: black;
}


.next-section {
    color: black;
    text-align: right;
}
.next-section:hover {
    color: #555;
}


.fa-github:hover {
    color: #6e5494;
}

.fa-linkedin:hover {
    color: #2867B2;
}

.title {
    font-weight: bold;
    font-size: 4em;
    font-family: 'Montaga', serif;
}

.presentation {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-photo {
    float: left;
    margin-right: 50px;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pic-caption {
    color: white;
    font-weight: bold;
}

/* Add padding between bottom of one card & top of other */
.work-card {
    height: 98%;
}

/* Typewriter CSS */
.typewriter-container {
    display: flex;
}
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 2.5s steps(40, end),
    blink-caret 1s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}


/* Next section arrows CSS */
#more-arrows {
	 width: 75px;
	 height: 65px;
}
#more-arrows:hover polygon {
	fill: black;
	transition: all 0.2s ease-out;
}
#more-arrows:hover polygon.arrow-bottom {
	transform: translateY(-18px);
}
#more-arrows:hover polygon.arrow-top {
	transform: translateY(18px);
}
polygon {
	fill: black;
	transition: all 0.2s ease-out;
}
polygon.arrow-middle {
	 opacity: 0.75;
}
polygon.arrow-top {
	 opacity: 0.5;
}


/* Landing page shape divider */
.custom-shape-divider-bottom-1591989138 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape-divider-bottom-1591989138 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}
.custom-shape-divider-bottom-1591989138 .shape-fill {
    fill: #fffef2;
}